.amenties {background: #E8E8E8;
    padding-top: 1.5%;
    margin-top: 3%;}
    .amenties ul{list-style:none;padding:0;margin:0}
    .amenties ul li{color:#000;overflow:hidden;width:47%;display:inline-block;vertical-align:top;font-size:14px;padding:10px 30px 10px 60px;border:1px solid rgba(0,0,0,0.1);margin-bottom:15px;margin-right:5%;position:relative;background: #fff;border-radius: 50px;}
    .amenties ul li i{position:absolute;left:30px;top:50%;transform:translateY(-50%);font-size:20px;color:#034D83}
    .amenties ul li p{overflow:hidden;margin-bottom:0;text-align:left;font: size 1rem;font-weight:500;font-family: 'Raleway', sans-serif;
    }
    .amenties ul li:nth-child(even){margin-right:0}
    .grad{
        color: white;
        text-align: center;
        background-color:#019B83 ;
        font-size: 2.5rem;
        margin-top: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-top-right-radius:15px;
        
        border-top-left-radius:15px;
        border-bottom-right-radius:15px;
        border-bottom-left-radius:15px;
      width: 80%;
        
    }
    .opa{
      opacity: 0.5;
    background-color: black;
    }
    .carousel-item{
      background-color: black;
    }
    .grad h3{
      font-size: 1.52rem;
    }
    .navbar{
        background-color: white;
    }
    .img-header{
        width: 20%;
        margin-left: 50%;
    }
    .img-title{
        width: 8%;
    }
    .phone{
        background-color: #fff;
        margin-top: 1%;
        padding-left: 1%;
        padding-right: 1%;
        color: white;
        text-decoration: none;
        border-radius: 14px;
        
    }
    .img-phone{
        width: 60%;
    }
    .img-header{
        width: 70%;
    }
    .phone a{
        color: white;
    }
    .circle {
        height: 18px;
        width: 18px;
        background-color: #fff;
        border-radius: 50%;
        
      }
      .vl {
        border-left: 1px solid #019B83;
        height: 20px;
        margin-top: 2%;
        
       
        
      }
      .slider{
        
        position: relative;
        
        margin-top: 4%;
    }
    
    .logotop{
        position: absolute;
        z-index: 1;
        margin-top: 15%;
        width: 100%;
        text-align: center;
        
    }
    .img-logotop{
      width: 50%;
    }
    .contact-form{
        border-radius: 5px;
      background-color:#fff;
      padding: 8px;
      position: absolute;
      width: 18%;
      margin-left: 80%;
      margin-top: 14%;
      max-height:650px ;
      height: auto;
      z-index: 2;
      text-align: center;
      
    }
    input[type=text], select {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      input[type=submit] {
        width: 70%;
        background-color: #019B83;  
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #02375e;
        
      }
      input[type=tel], select {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      input[type=email], select {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      .contact-form h5{
          text-align: center;
          font-family: 'Quicksand', sans-serif;
          font-weight: 1000;
          font-size: 1.2rem;
          padding-top: 2%;
      }
      .contact-form p{
          text-align: center;
          
          font-family: 'Quicksand', sans-serif;
          font-weight: lighter;
          font-size: 1rem;
          padding-top: 1%;
      }
      .banner1{
          text-align: center;
          color: #CF0505;
          background-color: #FFC30E;
          padding-top: 1%;
          padding-bottom: 1%;
          font-weight: bolder;
         max-width: 98%;
    
        }
        .banner1 h1{
            font-weight: bolder;
        }
          
      
      .img-banner{
          width: 100%;
          max-height: 700px;
      }
      #overview{
          margin-top: 3%;
          font-family: 'Raleway', sans-serif;
          text-align: center;
      }
      .over{
          text-align: left;
      }
      .over h2{
          font-size: 2.5rem;
          text-align: center;
      }
      .over h3{
          color: #019B83; 
          font-size: 2.2rem;
          font-weight: bolder;
      }
      #overiew p{
          font-weight:bold ;
      }
    
      
     .img-banner2{
         width:100%;
         
     }
     
     #floorplans{
         margin-top: 3%;
         padding: 2%;
         background-color: white;
         text-align: center;
         margin: 2%;
     }
     #floorplans h2{
         font-size: 2.2rem;
         text-align:center ;
         margin-bottom: 5%;
     }
     .vel{
        
            border-left: 1px solid black;
            height: 200px;
            margin-top: 2%;
            text-align: center;
           
            
          
     }
     .amen{
         background-color: #019B83;
         color: #fff;
         text-align: center;
         
     }
     .amenn{
         text-align: center;
         padding-top: 2%;
         padding-bottom: 2%;
         
     }
    .img-amen{
        width: 60%;
    }
    .loc360{
        text-align: center;
        width:40%;
     
    }
    .lo36{ text-align: center;
        border-top-right-radius:15px;
        background-color:#FFC30E ;
        border-top-left-radius:15px;
        border-bottom-right-radius:15px;
        border-bottom-left-radius:15px;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 1%;
       
    }
    .lo36 h5{
        font-size: 1.3rem;
        font-weight: bolder;
    }
     .house{
        background:linear-gradient(270deg, #8E5E0A, #000000);
        color: white;
        text-align: center;
        padding-top:0.5%;
        padding-bottom:0.5%;
     }

/**Floor Plans**/
.fplans{
  width: 70%;
  background-color:#019B83 ;
  color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-bottom: 2%;
}
.fprow{
  width: 65%;
}

     .house p{
        margin-top: 3%;
     }
     .img-house{
         width:100%;
         max-height: 500px;
         margin-top: 2%;
     }
     .down{
         margin-top: 2%;
     }
     .bhk{
         text-align: center;
         
     }
     .over.button-enquire {
         text-align: center;
     }
     .bbm{
         text-align: center;
     }
     .but{
         text-align: center;
     }
    #pricelist{
        background-color: #E8E8E8;
        padding-top: 3%;
        text-align: center;
    }
    
    #pricelist h1{
        font-family: 'Raleway', sans-serif;
        font-weight:bolder ;
        font-size: 3rem;
    }
    table {
       
        
        width: 100% ;
        border-collapse: separate;
        border-spacing: 0.2rem 0.4rem;
        
      }
      th{
          color: white;
          background-color: #019B83;
      }
      td {
        width: 33% ;
        background-color: #C0944B;
        color: white;
      }
      
      .tab
      {
          text-align: center;
      }
      .gal{
        text-align: center;
        padding: 4%;
      }
      .gal h1{
          font-family:'Raleway', sans-serif ;
          font-weight: bolder;
          font-size: 3rem;
      }
      footer{
          background-color: #232323;
          color: white;
          font-size: 0.7rem;
          text-align: center;
          padding-top: 0.2%;
          padding-bottom: 0.2%;
      }
      .img-left{
          width: 100%;
          height: 400px;
          
        
          border-radius: 14px;
      }
      .img-right{
        width:100%;
        height: 400px;
        
        
        border-radius: 14px;
    }
    .footer-form{
        padding: 0%;
    }
      .footer-form form{
          background-color:#019B83;
          width: 100%;
          
          height: auto;
        margin-top: 35%;
        border-radius:14px ;
        
      }
      .footer-form p{
          color: white;
          text-align: center;
          padding-top: 3%;
      }
      
      .footer-form form input[type=submit] {
        width: 90%;
        
        background-color: #FFC30E;
    
        color: white;
        padding: 2px 3px;
        margin: 8px 0;
        border: none;
        border-radius: 14px;
        cursor: pointer;
      }
      .footer-form form input[type=text]{
        width: 90%;
        padding: 1px 1px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 14px;
        box-sizing: border-box;
      }
      .footer-form form  input[type=tel] {
        width: 90%;
        padding: 1px 1px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 14px;
        box-sizing: border-box;
      }
      .footer-form form  input[type=email] {
        width: 90%;
        padding: 1px 1px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 14px;
        box-sizing: border-box;
      }
      #sl{
          width: 90%;
        padding: 2px 3px; 
        border-radius: 14px;
      }
      .left h4{
          text-align: center;
          font-family: 'Raleway', sans-serif;
          font-weight: bolder;
          font-size: 2rem;
      }
      .right h4{
          text-align: center;
          font-family: 'Raleway', sans-serif;
          font-weight: bolder;
          font-size: 2rem;
      }
      #footer-section{
          background-color: #F6F6F6;
          padding-top: 2%;
      }
    .pop{
        text-align: center;
    }
    
    
    .modal-title{
        font-family: 'Raleway', sans-serif;
    }
    
    .modal-form{
        text-align: center;
        
    }
    .modal-btn{
        background-color: #FFC30E;
        border-radius: 14px;
        color:#F90707 ;
    }
    .img-zoom{
        height: auto;
        width: 120%;
    }
    .moo{
        text-align: center;
        background-color:#fff ;
    }
    .sun{
        color: #fff;
        background-color: #019B83;
        width: 70%;
    }
    .boo{
        text-align: center;
    }
    .exampleModal h5{
        text-align: center;
    }
    
    .xl{
      max-width: 1140px;
    }
    .modal_head{
      text-align: center;
    }
    
    .close
    {
      padding-left: 0;
    }

    
    /* Style the Image Used to Trigger the Modal *
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      #myImg:hover {opacity: 0.7;}
      
      /* The Modal (background) *
      .modal {
        display: none; /* Hidden by default *
        position: fixed; /* Stay in place *
        z-index: 999; /* Sit on top *
        padding-top: 100px; /* Location of the box *
        left: 0;
        top: 0;
        width: 100%; /* Full width *
        height: 100%; /* Full height *
        overflow: auto; /* Enable scroll if needed *
        background-color: rgb(0,0,0; /* Fallback color *
        background-color: rgba(0,0,0,0.9; * Black w/ opacity *
      }
      
      /* Modal Content (Image) *
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
      }
      
      /* Caption of Modal Image (Image Text) - Same Width as the Image *
      #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }
      
      /* Add Animation - Zoom in the Modal *
      .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
      }
      
      /* The Close Button *
      .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* 100% Image Width on Smaller Screens *
      @media only screen and (max-width: 700px){
        .modal-contents {
          width: 100%;
        }
      }
    */
    
    
    
    
    
    
    
    
    .amen h2{
      font-family: 'Raleway', sans-serif; font-weight: bolder; font-size: 3rem;
    }
.amenties h2{
  font-family: 'Raleway', sans-serif; font-weight: bolder; font-size: 3rem;
  
}




    @media screen and ( max-width: 1400px) {
       .openbtn{ margin-top: 45%; 
    }
       
    }
    
      @media screen and ( max-width: 769px) {
      
        .contact-form{
          position: static;
          width: 100%;
          height: min-content;
        margin-left: 0%
        }
        .slider{
          position: static;
          
        }
        .navbar-brand{
            display: none;
          }
          .vl{
              display: none;
          }
          .openbtn{
              display: none;
          }
    }
    
    @media screen and ( max-width: 426px) {
        .amenties ul li{padding: 5px 5px 5px 50px;
        width: 98%;}
        .amenties ul li p{font-size: 0.8rem;}
        .loc360{
          width: 100%;
        }
        .loc360 h5{
          font-size: 0.8rem;
        }
        .banner1{
          width: 100%;
        }
        .banner1 h1{
          font-size: 1.1rem;
        }
        .over{
          padding-left:6% ;
          padding-right: 6%;
        
        }
        .over h2{
          font-size: 1.7rem;
        }
        .over p{
          font-size: 0.8rem;
        }
        .over h3{
          text-align: center;
          font-size: 1.4rem;
        }
        .asuured-gifts{
          margin-bottom: 4%;
        }
        .amen{
          width: 80%;
        }
        .amen h2{
          font-size: 1.7rem;
        }
        .img-amen{
          width: 100%;
        }
        .amenties h2{
          font-size: 1.7rem;
          padding-bottom: 2% ;
        }
        .grad h3{
          font-size: 1rem;
          padding-left: 1%;
          padding-right: 1%;
        }
        .fplans{
          width: 100%;
        }
        .fplans h3{
          font-size: 0.9rem;
          
        }
        .img-floorplans{
          width: 100%;
        }
        .floorplaning{
          width: 100%;
        }
        .img-fluid{
          margin-bottom: 2%;
        }
        .img-left{
          height: 200px;
        }
        .img-right{
          height: 200px;
        }
        .footer-form{
          position: absolute;
          margin-top: 90%;
        }
        footer{
          position: absolute;
          margin-top: 70%;
        }
        #pricelist h1{
          font-size: 1.7rem;
        }
        .gal h1{
          font-size: 1.7rem;
        }
        html{overflow-x: hidden;}
        
    }

    @media screen and ( max-width: 376px) {
      .amenties ul li{padding: 0px 5px 5px 50px;
      width: 100%;
        
    }
    .footer-form{
      position: absolute;
      margin-top: 110%;
    }
    footer{
      position: absolute;
      margin-top: 90%;
    }
    .img-left{
      height: 200px;
    }
    .img-right{
      height: 200px;
    }
  }
    